python-dotenv==1.1.1
pydantic==2.11.7
langchain-openai==0.3.28
langchain-anthropic==0.3.17
langchain-core==0.3.70
langchain==0.3.26
langchain-community==0.3.27
ddgs==9.4.0
wikipedia==1.4.0
markdown==3.8.2
reportlab==4.4.2